[Web]
    WebDir = "./web"
    Addr = ":1337"

[Mongo]
    MongoUse = ""
    MongoDatabase = ""
    MongoHost = ""
    MongoAuthUser = ""
    MongoAuthPass = ""

    MongoConnectionString = "mongodb://&readPreference=primary&appname=whgoxy&ssl=true"

[Auth]
    RedirectURL = "http://localhost:1337/callback"
    ClientID = ""
    ClientSecret = ""
    Scopes = [ "identify" ]

    # Endpoint
    AuthURL = "https://discord.com/api/oauth2/authorize"
    TokenURL = "https://discord.com/api/oauth2/token"

    # Cookie
    CookieHost = "localhost"
    CookieSecret = ""
    CookieName = "whgoxy-authenticated"

[Redis]
    Addr = "localhost:6379"
    Password = ""
    DB = 0